body {
  background-color: #222831;
}

hr {
  border-style: dotted none none;
  border-color: #f9f9f9;
  border-width: 5px;
  width: 10%;
}

h1{
  color: snow;
}

h3{
  color: #43d8c9;
}

p{
  color: #c3edea;
}

td{
  color: #c3edea;
}

a{
  color: #cee397;
}

li{
  color: #c3edea;
}
